<div class="section section-contact text-center">
    <div class="container">
        <div class="container-inner p-5 position-relative theme-bg-primary rounded text-white">
            <div class="section-bg-container"></div>
            <div class="container our-webcoderskull py-3 section-col-max mx-auto">
                <h3 class="section-title mb-4 text-white">Contact Us</h3>
                
                <p class="intro">Help us improve this site and course by sending your feedbacks.
                    You can contact <a href="mailto:seyedreza.shiyade@gmail.com">seyedreza.shiyade@gmail.com</a> 
                    for
                    further suggestions.
                <h5 class="intro text-white">Know someone who may find the course useful?</h5>
                <div>Help them find Sharif Computer Science Generative AI! :)</div>
            </div>
            <!--//section-col-max-->
        </div>
        <!--//container-inner-->
    </div>
    <!--//container-->
</div>
<!--//section-->