<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">1</span>(Probabilistic graphical models) Structured density
        </div>
        <div class="col-9"><span class="theme-text-secondary mr-2">2</span>Causality and causal models
        </div>
        <div class="col-9"><span class="theme-text-secondary mr-2">3</span>(Deep generative models) Autoregressive Models 
        </div>
        <div class="col-9"><span class="theme-text-secondary mr-2">4</span>Variational auto encoder
        </div>
        <div class="col-9"><span class="theme-text-secondary mr-2">5</span>Generative adversarial networks
        </div>
        <div class="col-9"><span class="theme-text-secondary mr-2">6</span>Normalizing Flows
        </div>
        <div class="col-9"><span class="theme-text-secondary mr-2">7</span>Energy Based Model
        </div>
        <div class="col-9"><span class="theme-text-secondary mr-2">8</span>Score Based Models
        </div>
        <div class="col-9"><span class="theme-text-secondary mr-2">9</span>Evaluation of Generative Models
        </div>
        <div class="col-9"><span class="theme-text-secondary mr-2">10</span>Ethics and bias and interpretation of generative models
        </div>
    </div>
</div>

<!-- //module-sub-item -->
<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">1.2</span>different sort algorithms
            <ul style="list-style-type: circle;" class="list pl-5">
                <br>
                <li>
                    <a href="https://www.geeksforgeeks.org/insertion-sort/">Insertion sort</a></li>
                <li>
                    <a href="https://www.geeksforgeeks.org/merge-sort/">Merge sort</a></li>
                
            </ul>
        </div>
        
    </div>
</div>

<!--//module-sub-item-->