<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9">
            •	Bishop, Christopher M. and Hugh Bishop, Deep Learning: Foundations and Concepts, Springer <br>
            •	Murphy, Kevin P, Probabilistic Machine Learning: Advanced Topics, The MIT Press <br>
            •	Tomczak, Jakub M., Deep Generative Modeling, Springer <br>
            •	Koller D., Friedman N., Probabilistic Graphical Models, Principles and Techniques, The MIT Press <br>
            

        </div>
    </div>
</div>
